{% extends "base.html.twig" %}

{% block body %}
	<div class="d-flex justify-content-center py-5 container-fluid">
		<div class="contour-form w-50">
			<h1 class="text-center py-3"><b>Nos réseaux</b></h1>
			<div class="row d-flex justify-content-center">
				<div class="col-5-lg pe-2">
					<a href="https://www.instagram.com/" target="_blank" class="d-flex justify-content-center w-auto">
							<img src="{{asset('image/insta.png')}}" alt="instagram" class="w35">
					</a>
				</div>
                <div class="col-2-lg"></div>
				<div class="col-5-lg ps-2">
                    <a href="https://www.github.com/" target="_blank" class="d-flex justify-content-center w-auto">
						<img src="{{asset('image/github.png')}}" alt="github" class="w35">
					</a>
                </div>
			</div>
			<br>
			<div class="row pb-1 d-flex justify-content-center">
				<div class="col-5-lg pe-2">
                    <a href="https://twitter.com/" target="_blank" class="d-flex justify-content-center w-auto">
						<img src="{{asset('image/twitter.png')}}" alt="twitter" class="w35">
					</a>
                </div>
                <div class="col-2-lg"></div>
				<div class="col-5-lg ps-2">
				    <a href="https://www.youtube.com/" target="_blank" class="d-flex justify-content-center w-auto">
						<img src="{{asset('image/youtube.png')}}" alt="youtube" class="w35">
					</a>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
