{% extends "base.html.twig" %}

{% block body %}
	<div class="row py-5">
		<div class="col-lg-1"></div>
		<div class="col-lg-10 bg-white border border-3 rounded-2 border-info py-3">
			<div class="d-flex justify-content-center">
				<p class="fs-1">Boutique</p>
			</div>
			<div class="d-flex justify-content-center">
				<p class="fs-2">Module Simandré</p>
			</div>
			<div class="d-flex justify-content-center pt-2 pb-5">
				<img class="w-50" src="/image/module_simandre.JPEG" alt="module simandré">
			</div>
            <div class="d-flex justify-content-center pb-2">
                <a class="btn btn-primary" href="https://www.clahess.com/15" target="_blank">Commander</a>
            </div>
		</div>
		<div class="col-lg-1"></div>
	</div>
{% endblock %}
