{% extends "base.html.twig" %} {# modification de la page 404 #}

{% block title %}
	{{parent()}}
	Page non trouvée
{% endblock %}

{% block body %}
	<section>
			<h1 class="mt-5 pt-5 text-center">Erreur 404</h1>
		<div class="pt-3 text-center">
			<p>Oups ! La page que vous cherchez n'existe pas encore !</p>
			<a href="/rickroll">Retour à l'accueil</a>
		</div>
		<br>
		<div class="d-flex justify-content-center">
			<img class="" src="{{asset('images/error-404.png')}}" alt="404">
		</div>
	</section>
{% endblock %}
