{% extends "base.html.twig" %}
{# modification de la page 404 #}

{% block title %}
	{{parent()}}
	Page non trouvée
{% endblock %}

{% block body %}
	<div class="row pt-5">
		<div class="col-lg-4"></div>
		<div class="col-lg-4 pt-5 text-center bg-white border border-3 rounded-2 border-info">
			<h1>Erreur 404</h1>
			<div class="d-flex justify-content-center">
				<img class="bg-white w-50" src="{{asset('image/error-404.png')}}" alt="404">
			</div>
			<div class="py-3">
				<p>Oups, la page que vous cherchez n'existe pas.</p>
				<a class="btn btn-primary" href="/" role="button">Retour à l'accueil</a>
			</div>
		</div>
		<div class="col-lg-4"></div>
	</div>
{% endblock %}
